<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.atool.mapper.OrderGoodsMapper">

    <insert id="add">
        insert into order_goods (order_id, goods_id, goods_count)
        values
        <foreach collection="orderGoods" item="it" separator=",">
            (#{it.orderId},#{it.goodsId},#{it.goodsCount})
        </foreach>
    </insert>

    <select id="orderGoods" resultType="org.example.atool.entity.po.OrderGoods">
        select * from order_goods where order_id = #{orderId}
    </select>

</mapper>