<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.atool.mapper.UserDetailMapper">
    <insert id="add" parameterType="org.example.atool.entity.po.UserDetail">
        insert into user_detail (
        user_id
        <trim prefixOverrides=",">
        <if test="detail.username != null">, username</if>
        <if test="detail.avatar != null">, avatar</if>
        <if test="detail.points != null">,points</if>
        </trim>
        )
        values (
        #{detail.userId}
        <trim prefixOverrides=",">
        <if test="detail.username != null">, #{detail.username}</if>
        <if test="detail.avatar != null">, #{detail.avatar}</if>
        <if test="detail.avatar != null">, #{detail.points}</if>
        </trim>
        );
    </insert>

    <select id="getByUserId" resultType="org.example.atool.entity.po.UserDetail">
        select * from user_detail where user_id = #{userId};
    </select>

    <update id="deductPoint">
        update user_detail set points = ifnull(points,200)- #{point} where user_id = #{userID};
    </update>

</mapper>